<h3>{{title()}}  <small>({{year()}})</small></h3><br>

<div class="row">
    <div>
        <div class="panel panel-default col-sm-5">
            <div class="panel-body">
                <p ng-hide="multipleAuthors">Author:</p>
                <p ng-show="multipleAuthors">Authors:</p>
                    <a href="/#/author/{{a.id}}" ng-repeat="a in authors()">
                        <p><button type="button" class="btn btn-link">{{a.name}}</button>
                    </a></p>


                <p>Original language: {{language()}}</p>
                <br>
                <p>Average score: {{avgScore() | number:2}}</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default col-sm-6 pull-right">
            <div class="panel-body">{{plot()}}</div>
    </div>
</div><br>

<div class="row">
    <a href="/#/writeReview">
    <div class="col-md-4" ng-hide="hasReviewed()"><button type="button" class="btn btn-primary">Review this book</button></div></a>
</div><br><br>


    <table class="table">
        <thead>
            <tr>
                <th>Upvotes</th>
                <th>Reviewer</th>
                <th>Review title</th>
                <th>Score</th>
                <th>Date</th>
                <th></th>
                <th></th>
                </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in reviews()">
                <td>{{r.upvotes}}</td>
                <td><a href="/#/profile/{{r.reviewerId}}">
                    <button type="button" class="btn btn-link">{{r.reviewer}}</button>
                </a></td>
                <td><a href="/#/review/{{r.id}}">
                    <button type="button" class="btn btn-link">{{r.revTitle}}</button>
                </a></td>
                <td>{{r.score}}</td>
                <td>{{r.date}}</td>
                <td ng-show="ownReview({{r.reviewerId}})">
                    <span class="glyphicon glyphicon-edit"></span>
                </td>
                <td ng-show="ownReview({{r.reviewerId}})">
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
        </tbody>
    </table>