<!-- Select list to view -->
<div class="row col-md-5">
    <select ng-options="l for l in toplists"
            ng-model="currentList" class="form-control">
    </select>
</div>

<!-- Top books table -->
<div class="col-md-8">
    <table class="table" ng-show="isCurrentList(toplists[0])">
        <thead>
            <tr>
                <th>Title</th>
                <th>Avg. score</th>
                </tr>
        </thead>
        <tbody>
            <tr ng-repeat="b in books">
                <td><a href="/#/title">
                        <button type="button" class="btn btn-link">{{b.title}} ({{b.year}})</button></a>
                </td>
                <td>{{b.avgScore}}</td>
            </tr>
        </tbody>
    </table>

    <!-- Top reviewers table -->
    <table class="table" ng-show="isCurrentList(toplists[1])">
        <thead>
            <tr>
                <th>Reviewer</th>
                <th>Upvotes</th>
                </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in reviewers">
                <td><a href="/#/profile/{{r.id}}">
                        <button type="button" class="btn btn-link">{{r.userName}}</button></a>
                </td>
                <td>{{r.noOfUpvotes}}</td>
            </tr>
        </tbody>
    </table>
</div>

