<h3>Review of {{bookTitle}} ({{year}})</h3><br>

<form name="reviewForm">
    <label for="language">Reading language:</label><br>
    <div class="row">
        <div class="col-xs-4">
            <select ng-options="l for l in languages" ng-model="language" class="form-control" id="language" name="language" required>
                <option value=''>- Select a language -</option>
            </select>
        </div>
        <div class="col-xs-4">
            <em ng-show=!reviewForm.language.$valid><small>Mandatory field</small></em>
        </div>
    </div><br>


    <label for="revTitle">Review title:</label><br>
    <div class="row">
        <div class="col-xs-5">
            <input type="text" ng-model="revTitle" class="form-control" id="revTitle" name="revTitle" ng-minlength="4"
                   ng-maxlength="50" placeholder="Enter review title" required>
        </div>
        <div class="col-xs-4">
            <em ng-show=!reviewForm.revTitle.$valid><small>Must be 4-50 characters long</small></em>
        </div>
    </div><br>

    <label for="score">Score:</label><br>
    <div class="row">
        <div class="col-xs-3">
            <select ng-options="l for l in points" ng-model="score" class="form-control" id="score" name="score" required>
                <option value=''>- Select -</option>
            </select>
        </div>
        <div class="col-xs-4">
            <em ng-show=!reviewForm.score.$valid><small>Mandatory field</small></em>
        </div>
    </div><br>

    <div class="row col-xs-8"><label for="content">Review content:</label></div>
    <div class="col-xs-4"><em ng-show=!reviewForm.content.$valid><small>Must be 20-3000 characters long</small></em></div>
    <div class="row">
        <div class="col-xs-12">
            <textarea rows="5" ng-model="content" class="form-control" id="content" name="content" ng-minlength="20"
                      ng-maxlength="3000" required placeholder="Enter review content" wrap="hard"></textarea>
        </div>
    </div><br>
</form>

<div>
    <button type="button" class="btn btn-default" ng-disabled="!reviewForm.$valid" ng-click="submitReview()">Submit</button>
    <a href="/#/title/{{bookId}}" class="btn btn-default">Cancel</a><br>
</div><br>