{% raw %}
<div class="row">
    <div class="col-md-9"><h3>{{title}}  <small>({{year}})</small></h3><br></div>
{% endraw %}

{% if ADMIN %}
    {% raw %}
    <div class="col-md-2 pull-right"><a href="/#/editBook/{{bookId}}" class="btn btn-primary">Edit book <span class="glyphicon glyphicon-edit"></span></a></div>
    {% endraw %}
{% endif %}
{% raw %}
</div>

<div class="row">
    <div class="panel panel-default col-md-4">
        <div class="panel-body">
            <p>{{authorText}}:
                <a href="/#/author/{{a.id}}" ng-repeat="a in authors"class="btn btn-link">{{a.name}}</a>
            </p>
            <p>Original language: {{language}}</p><br>
            <p>Average score: {{avgScore | number:2}}</p>
        </div>
    </div>

    <div class="col-md-1"></div>
    <div class="panel panel-default col-md-4">
        <div class="panel-body" style="word-wrap:break-word;">{{plot}}</div>
    </div>

</div>

{% endraw %}
{% if SIGNED_IN %}
{% raw %}
<div class="row">
    <div class="row col-md-3" ng-hide="hasReviewed"><a href="/#/writeReview/new/title/{{bookId}}" class="btn btn-primary">Review this book</a></div>
</div><br>
{% endraw %}
{% endif %}


{% raw %}
<div class="row">
    <div class="col-md-12">
        <h4>Reviews:</h4>
    </div>
    <div class="col-md-12">
        <em ng-show="emptyReviews">No reviews written yet.</em>
    </div>

    <table class="table" ng-hide="emptyReviews">
        <thead>
            <tr>
                <th ng-repeat="(key, val) in head" ng-click="order(val[0], !reverse);" class="{{val[2]}}">
                    {{val[1]}}
                    <span ng-show="isOrdered(val[0], false)" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="isOrdered(val[0], true)" class="glyphicon glyphicon-triangle-top"></span>
                </th>
            </tr>
        </thead>
       <tbody>
            <tr ng-repeat="r in reviews">
                <td>{{r.upvotes}}</td>
                <td><a href="/#/profile/{{r.reviewerId}}" class="btn btn-link">{{r.reviewer}}</a></td>
                <td><a href="/#/review/{{r.id}}/origin/title" class="btn btn-link">{{r.revTitle}}</a></td>
                <td>{{r.score}}</td>
                <td>{{r.date}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endraw %}
